
.viewcode-block .viewcode-back {
  float: right;
}

.code.homie-attr::before {
  content: "$";
}

.code.homie-attr {
  color: var(--md-code-hl-special-color);
}

.code.homie-val {
  color: var(--md-code-hl-keyword-color);
}

.code.homie-dev,
.code.homie-node,
.code.homie-prop {
  color: var(--md-code-hl-string-color);
}

.topic-list li::marker {
  content: "/";
}
