variables:
  TIAMAT_PIP_DEBUG: "1"

stages:
  - pre-commit
  - test-suite
  - build

pre-commit:
  stage: pre-commit
  image:
    name: registry.gitlab.com/saltstack/open/cicd/containers/py:3.8
  before_script:
    - apt-get update && apt-get install -y git
    - python -m pip install --upgrade pip
    - pip install pre-commit
    - pre-commit install --install-hooks
    - chmod -R g-w,o-w . && umask 0022
  script:
    - pre-commit run --show-diff-on-failure --color=always --all-files

.test-suite-onedir:
  stage: test-suite
  needs:
    - pre-commit
  before_script:
    - apt-get update
    - apt-get install -y git
    # Pyinstaller system requirements
    - apt-get install -y binutils libc-bin
    # For codecoverage uploads
    - apt-get install -y curl gpg
    # For libvirt tests
    - apt-get install -y gcc pkg-config libvirt-dev
    - python3 -m pip install nox
  script:
    - nox -e tests-3 -- -vv --log-cli-level=warning
  artifacts:
    when: always
    paths:
      - artifacts
    reports:
      junit: artifacts/junit-report.xml
    expire_in: 30 days
  after_script:
    - set -ex
    - cicd/upload-code-coverage.sh

.test-suite-singlebin:
  extends: .test-suite-onedir
  script:
    - nox -e tests-3 -- -vv --log-cli-level=warning --singlebin

.test-suite-windows-onedir:
  tags:
    - ss-custom-ec2-windows
  variables:
    SPOT_INSTANCE: "false"
  stage: test-suite
  before_script:
    - py -m pip install -U nox
  script:
    - py -m nox -e tests-3 -- -vv --log-cli-level=warning
  after_script:
    - "& cicd/upload-code-coverage.ps1"

.test-suite-windows-singlebin:
  extends: .test-suite-windows-onedir
  script:
    - py -m nox -e tests-3 -- -vv --log-cli-level=warning --singlebin

linux-3.7-onedir:
  extends: .test-suite-onedir
  image:
    name: registry.gitlab.com/saltstack/open/cicd/containers/py:3.7

linux-3.7-singlebin:
  extends: .test-suite-singlebin
  image:
    name: registry.gitlab.com/saltstack/open/cicd/containers/py:3.7

linux-3.8-onedir:
  extends: .test-suite-onedir
  image:
    name: registry.gitlab.com/saltstack/open/cicd/containers/py:3.8

linux-3.8-singlebin:
  extends: .test-suite-singlebin
  image:
    name: registry.gitlab.com/saltstack/open/cicd/containers/py:3.8

linux-3.9-onedir:
  extends: .test-suite-onedir
  image:
    name: registry.gitlab.com/saltstack/open/cicd/containers/py:3.9

linux-3.9-singlebin:
  extends: .test-suite-singlebin
  image:
    name: registry.gitlab.com/saltstack/open/cicd/containers/py:3.9

#tests-3.10-onedir:
#  extends: .test-suite-onedir
#  image:
#    name: registry.gitlab.com/saltstack/open/cicd/containers/py:3.10

#linux-3.10-singlebin:
#  extends: .test-suite-singlebin
#  image:
#    name: registry.gitlab.com/saltstack/open/cicd/containers/py:3.10

windows-2019-onedir:
  extends: .test-suite-windows-onedir
  image: saltstack/ci/windows/2019/x64/*

windows-2019-singlebin:
  extends: .test-suite-windows-singlebin
  image: saltstack/ci/windows/2019/x64/*


build-pkgs:
  stage: build
  image:
    name: registry.gitlab.com/saltstack/open/cicd/containers/py:3.8
  needs:
    - linux-3.7-onedir
    - linux-3.7-singlebin
    - linux-3.8-onedir
    - linux-3.8-singlebin
    - linux-3.9-onedir
    - linux-3.9-singlebin
    - windows-2019-onedir
    - windows-2019-singlebin
  before_script:
    - apt-get update && apt-get install -y git
    - python -m pip install --upgrade pip
    - python -m pip install nox
  script:
    - nox -e build
  artifacts:
    when: always
    paths:
      - dist/
    expire_in: 30 days
